.head-vector{
  position: absolute;
  top:40px;
  right: 0;
}

.head-vector img{
  
  width: auto;
  height: 330px;
  z-index: -9;
}

.foot-vector{
  bottom: 200px;
  position: absolute;
  margin-top: -300px;
  z-index: -9;
  left:0px;
  
}

.foot-vector img{
  width: auto;
  height: 300px;
}

.wrapper-books{
  display: block;
  width: 1200px;
  height: auto;
  min-height: 300px;

  background-color: white;
  place-content: center;
  margin: 110px auto;
  filter: drop-shadow(0px 0px 5px rgb(209, 208, 208));
  border-radius: 10px;

  font-family: "Barlow", sans-serif;
  overflow: hidden;

}

.wrapper-books h2{
  margin-left: 40px;
  font-size: 22px;
  margin-bottom: 25px;
}

.wrapper-books ul{
  display: grid;
  grid-template-columns: 265px 265px 265px 265px;
  grid-template-rows: 510px 510px 510px 510px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  justify-content: center; 
  width: 1200px;
  height: auto;
  margin: auto;

}
.img-inside{
  display: flex;
  margin: 0px 18%;
  justify-content: center;
  background-color: aliceblue;
}

.wrapper-books li{
  filter: drop-shadow(0px 0px 5px rgb(201, 201, 201));
  background-color: white;
  width: 265px;
  height: 510px;
  border-radius: 7px;

  justify-content: center; 
  margin:  20px 13px;
  overflow: hidden;

}

.small-box{
  display: block;
  height: 50%;
  bottom: 0px;
  overflow: hidden;
}
.small-box #date{
  filter: drop-shadow(0px 0px 2px #a5a3a3);
  border-radius: 5px;
  border: 0px;
  width: 60%;
  height:15px;
  font-size:10px;
}

.small-box #pick{
  border-radius: 5px;
  margin-top: 5px;
  width: 50px;

    filter: drop-shadow(0px 0px 5px rgb(120, 120, 120));
    background-color: white;
    border: 0px;
}


.text-inside{
  display: flex;
  justify-content: center;
  padding-bottom: 2px;
text-align: center;
}

.text-inside:first-child{
  margin: 0 auto;
  padding-top: 6px;
  font-size: 22px;
  font-weight: 600;
}
.text-inside:not(first-child){
  margin-top: 1px;
  font-size: 12px;
  font-weight: 500;
}
.img-inside{

  display: inline-flex;
  width: 65%;
  height: 72%;
}



